@font-face {
    font-family: 'main-font';
    src: url('./fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
    /* font-weight: 600; */
    font-style: normal;
}

/* General styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* html {
    overflow-y: scroll;
    overflow-x: hidden; 
} */

body {
    min-height: 100vh;
    height: 100vh;
    font-family: 'main-font';
    background-color: #2a9d8f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

li {
    list-style: none;
}

img {
    max-width: 25px;
    height: auto;
}

button {
    min-width: 190px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background-color: rgb(62, 76, 117);
    color: rgb(255, 255, 255);
    padding: 0.75rem 1rem;
    border-radius: 3px;
}

button:hover {
    border: none;
    cursor: pointer;
    background-color: rgba(62, 76, 117, 0.8);
}

/* End of general styles */

.container {
    width: 1028px;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
}

.header {
    background-color: #C38D9E;
    color: #F7F7F7;;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: left;
    letter-spacing: 0.3rem;
    gap: 1rem;
}

.header img {
    max-width: 50px;
    /* filter: invert(55%) sepia(100%) saturate(600%) hue-rotate(180deg); */
}

.content-container {
    display: flex;
}





/* Footer */
.attribution {
    text-align: center;
    width: 100%;
    padding-bottom: 0.3rem;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.attribution a {
    margin-left: 0.3rem;
}